/* 
    Document   : print_style
    Created on : 04-dic-2011, 18:03:03
    Author     : dsalazar
    Description:
        Purpose of the stylesheet follows.
*/

#header, #userbar, #side_bar2,#footer
{
    display:none;
}

.no-print{
    display:none;
}
