* {
    margin: 0 auto;
}

body {
    background-color: #fff;
    color: #333;
}

body, p, ol, ul, td{
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

p {
    padding: 5px;
}

a {
    color:#D95E16;
    padding: 0 2px;
    text-decoration:none;
}

a:hover {
    background-color: #FF813C;
    color: #FFFFFF;
}

#header, #main, #footer {
    width: 80%;
    min-width: 800px;
}

#header{
    font-family:"Myriad Web Pro",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    border-bottom: 5px solid #333333;
    color: #333333;
    height: auto;
    min-height: 135px;
}

#header a:hover {
	background-color: transparent;
}

#header #user_bar {
    float: right;
    font-size: 10px;
}

#footer {
    border-top: 5px solid #C1C1C1;
    margin-top: 10px;
    clear: both;
    padding: 10px 0;
    text-align: center;
    font-size: 11px;
}

#header h1{
    padding-top: 14px;
    float: left;
    font-size: 30px;
}

#main h1{
	padding-top: 15px;
}

#header h1 a{
    color: black;
}

#main {
    padding-top: 10px;
}


table{
    margin: 10px auto;
}

.listaelems{
    border-collapse: collapse;
}
.listaelems th, .listaelems td{
    padding: 5px;
    border: 1px solid #123645;
    text-align: left;
    vertical-align: middle;
}

.listaelems th{
    background-color: #005476;
    color: #fff;
    height: 25px;
}

.listaelems td{
    background-color: #CDE5F0;
    color: #123645;
}

#main form label{
    width: 150px;
    display: block;
    text-align: right;
    padding-right: 10px;
    float: left;
    line-height: 21px;
    vertical-align: auto;
    background-color: #F0F0F0;
    border: 2px solid #ccc;
    margin-right: 10px;
}

#main form{
	margin-top: 10px;
}

#main form .field, #main form .actions{
    padding-top: 10px;
    clear:both;
}


#main form input[type="submit"]{
    background: url("http://www.uca.es/input_background.gif") repeat-x scroll 0 0 White;
    border: 1px solid black;
    cursor: pointer;
    vertical-align: middle;
    padding: 2px 9px;
}

#main form input[type="submit"]:active{
     border: 1px inset black;
}

#logoUca{
	display: inline;
	float:left;
	width:80%;
	height:125px;
}

#navegacionUca{
	float: right;
	width:19%;
	min-height: 135px;
	border-left: 1px solid #444444;
}

#enlacesUca{
	padding-top: 20px;
	list-style-type: none;
}
