* {
    margin: 0 auto;
}

body {
    background-color: #fff;
    color: #333;
}

body, p, ol, ul, td{
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

p {
    padding: 5px;
}

a {
    color:#D95E16;
    padding: 0 2px;
    text-decoration:none;
}

#main_content a.button{
    background: url("http://www.uca.es/input_background.gif") repeat-x scroll 0 0 White;
    height: auto;
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid 1px black;
    color: black;
    border-style: inset;
    margin-left: 3px;
}

#main_content a.button:hover{
    color:black;
    	background-color: transparent;
}
#main_content a.delete-button:hover{
    background-color: transparent;
}
#main_content a.img-anchor:hover{
    background-color: transparent;
}
#main_content a:hover {
    background-color: #FF813C;
    color: #FFFFFF;
}


#header, #main, #footer {
    width: 80%;
    min-width: 800px;
}

#header{
    font-family:"Myriad Web Pro",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    border-bottom: 5px solid #333333;
    color: #333333;
    height: auto;
    min-height: 135px;
}

#header a:hover {
	background-color: transparent;
}


#header #user_bar {
    float: right;
    font-size: 10px;
}

#footer {
    border-top: 5px solid #C1C1C1;
    margin-top: 10px;
    clear: both;
    padding: 10px 0;
    text-align: center;
    font-size: 11px;
}

#header h1{
    padding-top: 14px;
    float: left;
    font-size: 30px;
}

#main h1{
	padding-top: 15px;
}

#header h1 a{
    color: black;
}

#main {
    padding-top: 10px;
    margin-bottom: 50px;
}


table{
    margin: 10px 0 15px 0;
}

table.listaelems{
    border-collapse: collapse;
}
.listaelems th, .listaelems td{
    padding: 5px;
    border: 1px solid #123645;
    text-align: center;
    vertical-align: middle;
}

.listaelems th{
    background-color: #005476;
    color: #fff;
    height: 25px;
}
.listaelems .comprobacion-ok td{
    background-color: #62fa00;
}

.listaelems .comprobacion-warning td{
    background-color: #fadb00;
}

.listaelems .comprobacion-error td{
    background-color: #ff452e;
}
.listaelems td{
    background-color: #CDE5F0;
    color: #123645;
}

#main form label{
    min-width: 150px;
    display: inline-block;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 21px;
    vertical-align: auto;
    background-color: #F0F0F0;
    border: 2px solid #ccc;
    margin-right: 10px;
}

#main form .checkbox_label{
    min-width: 0;
    display: inline;
    text-align: left;
    padding-left: 0px;
    padding-right: 10px;
    background-color: transparent;
    border-style: none;
    
}

#main form{
	margin-top: 10px;
}

#main form .field, #main form .actions{
    padding-top: 10px;
    clear:both;
}

#main form .field label{
    min-width: 230px;
}


input[type="submit"]{
    background: url("http://www.uca.es/input_background.gif") repeat-x scroll 0 0 White;
    border: 1px solid black;
    cursor: pointer;
    vertical-align: middle;
    padding: 2px 9px;
}

#main form input[type="submit"]:active{
     border: 1px inset black;
}

#logoUca{
	display: inline;
	float:left;
	width:80%;
	height:125px;
}

#navegacionUca{
	float: right;
	width:19%;
	min-height: 135px;
	border-left: 1px solid #444444;
}

#enlacesUca{
	padding-top: 20px;
	list-style-type: none;
}

#side_bar2{
    width: 12%;
    float: left;
    margin-right: 50px;
    margin-bottom: 50px;
}

#side_bar h3{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:#ffbb66;
}

#side_bar div{
    background-color:#ddd;
}

#side_bar ul{
    list-style-type:none;
    
}

#main_content{
    width: 75%;
    float:left;
}

fieldset{
    border:0;
    padding:0;
    margin-top: 25px;
}

#login-form{
    font-size: 62%;
}

#login-form label{
    display: block;
}

#login-form input{
    display: block;
    width: 95%;
    margin-bottom: 12px;
    padding: .4em;
}


h2.actrigger{
    margin: 0 0 0 0 ;
    padding:0;
    background: url("images/h2_trigger_a.gif") no-repeat;
    line-height: 46px;
    height: 46px;
    width: 500px;
    font-size: 2em;
    font-weight: normal;
}

h2.actrigger a{
    color: #fff;
    display:block;
    padding: 0 0 0 50px;
}


h2.current{
    background-position: left bottom;
}

#main_content h2.actrigger a:hover{
    background-color: transparent;
}

#asignaturas {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    float: left;
    padding: 0 10px;
    text-align: left;
    min-width: 150px;
}

.external-event {
    background: none repeat scroll 0 0 #3366CC;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 0.85em;
    margin: 10px 0;
    padding: 2px 4px;
}

.errors{
    
    font-style: italic;
    color: #ffffff;
    background-color: #cc0000;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-color: #ff3333;
    border-left-color: #ff3333;
    border-bottom-color: #ff3333;
    border-top-color: #ff3333;
}

a.delete-button{
    display:block;
    text-align: center;
}
